<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Ambulance System</title>
</head>
<body>
<h1>Welcome to Car Ambulance System</h1>
<p>Click below to view data:</p>
<ul>
    <li><a href="/ambulances/list">Xem Danh Sách Xe Cứu Thương</a></li>
    <li><a href="/hospitals/list">Xem Danh Sách Bệnh Viện</a></li>
    <li><a href="/trips/list">Xem Danh Sách Chuyến Đi</a></li>
    <li><a href="/ambulances/available">Xem Xe Cứu Thương Sẵn Sàng (JSON)</a></li>
    <li><a href="/hospitals">Xem Bệnh Viện (JSON)</a></li>
    <li><a href="/trips">Xem Chuyến Đi (JSON)</a></li>
</ul>
</body>
</html>